<mat-card>
  <form (ngSubmit)="onAddPost(postForm)" #postForm="ngForm">

    <mat-form-field>
      <input placeholder="Title" matInput type="text" name="title" #title="ngModel" ngModel required>
      <mat-error *ngIf="title.invalid && title.touched">Please provide title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea placeholder="Content"  matInput rows="6" name="content" #content="ngModel" ngModel required></textarea>
      <mat-error *ngIf="content.invalid && content.touched">Please provide content</mat-error>
    </mat-form-field>
    <button [disabled]="!postForm.valid" mat-raised-button color="accent" type="submit">Save Post</button>

  </form>
</mat-card>
